* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$mainWhite: #fff;
$mainGreen: #82b340;
$mainBlack: #222;
$mainGray: #ececec;

body {
  background: $mainWhite;
  color: $mainBlack;
  font-family: "Open Sans", sans-serif;
}
